body{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

p,a{
    padding: 0;
    margin: 0;
}

.header{
    padding-top: 2%;
    height: 100vh;
    background: url('../material/Group.jpg') no-repeat top center  ; 
    background-size: cover;
    background-position: center;
}


.container{
    width: 1200px;
    margin: 0 auto;
}  

.contextTop{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.logo{
    width: 164px;
    height: 98px;
}

.number{
    display: block;
    margin-left: auto;
}

.number p{
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    font-family: 'Tinos', serif;
    text-transform: uppercase;
}

.number .phoneNumber{
    font-size: 32px;
}

.btnTop{
    margin-left: 2%;
    text-decoration: none;
    font-family: 'Tinos', serif;
    border: 1px solid #41c8c2;
    border-radius: 5px;
    padding: 7px 25px 7px 25px;
    font-size: 24px;
    color: #fff;
    background-color: #0000003b;
}
.btnTop:hover{
    background-color: #0000009c;
    color: #41c8c2;
    text-decoration: none;
}

.contextMiddle{
    padding-top: 7%;
    text-align: center;
    color: #fff;
    font-family: 'Tinos', serif;
    font-size: 40px;
    text-transform: uppercase;
   
}
.contextMiddle p{
    margin: 0;
    padding: 0;
}
.TextMiddle{
    font-size: 55px;
}

.TextLarnitech{
    color: #41c8c2;
    font-size: 65px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.contextBottom{
    display: block;
    padding-top: 5%;
    align-items: center;
}

.btnDiscover{
    margin-left: 2%;
    text-decoration: none;
    font-family: 'Tinos', serif;
    border: 1px solid #41c8c2;
    border-radius: 5px;
    padding: 7px 25px 7px 25px;
    font-size: 26px;
    color: #41c8c2;
    background-color: #0000008c;
}
.btnDiscover:hover{
    color: #fff;
    background-color: #000000b7;
    text-decoration: none;
}

.contextBottom p{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 1%;
    margin-left: 4%;
}


.parallaxLayerBack{
    /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


@media only screen and (max-device-width: 1366px) {
   .parallax {
       background-attachment: scroll;
   }
}

